.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-block: 2.75rem 1.8rem;
}

.header__title {
  color: var(--clr-dt-grayish-blue-100);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.625rem;
}

.header__theme-btn {
  width: 1.1rem;
}

.theme-btn__icon {
  width: 1.2rem;
  aspect-ratio: 1 / 1;
  transition: all 250ms ease-in-out;
}

.theme--light .header__title {
  color: var(--clr-lt-gray-100);
}
