.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 3rem 2.1rem;
}

.header__title {
  color: var(--clr-dt-grayish-blue-100);
  font-size: 1.665rem;
  text-transform: uppercase;
  letter-spacing: clamp(0.625rem, 0.528rem + 0.465vw, 0.9rem);
}

.header__theme-btn {
  width: clamp(1.1rem, 0.924rem + 0.845vw, 1.6rem);
}

.theme-btn__icon {
  width: 1.2rem;
  aspect-ratio: 1 / 1;
  transition: all 250ms ease-in-out;
}

.theme--light .header__title {
  color: var(--clr-lt-gray-100);
}

@media only screen and (min-width: 768px) {
  .header {
    margin-block: clamp(3rem, 2.437rem + 2.704vw, 4.6rem)
      clamp(2.1rem, 2.065rem + 0.169vw, 2.2rem);
    /* margin-block: 3rem 4.6rem; */
    /* margin-block: 4.6rem 2.25rem; */
  }

  .header__title {
    font-size: clamp(1.665rem, 1.371rem + 1.411vw, 2.5rem);
  }
}
