.todo-filter__btn {
  color: var(--clr-dt-text-muted);
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: capitalize;
  background-color: transparent;
  border-color: transparent;
}

.theme--light .todo-filter__btn {
  color: var(--clr-lt-text-muted);
}

.todo-filter__btn.todo-filter__btn--active {
  color: var(--clr-bright-blue);
}
