.todo-filter {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-dt-surface);
  border-radius: var(--br-sm);
  padding: 1rem 4.25rem;
}

.theme--light .todo-filter {
  background-color: var(--clr-lt-surface);
}
