.todo-filter {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-dt-surface);
  border-radius: var(--br-sm);
  padding: 1rem 4.94rem;
  margin-bottom: 2.5rem;
}

.theme--light .todo-filter {
  background-color: var(--clr-lt-surface);
}

@media only screen and (min-width: 768px) {
  .todo-filter {
    gap: 1rem;
    padding: 0;
    margin-bottom: 0;
  }
}
