.todo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 1px solid var(--clr-dt-grayish-blue-800);
  padding: 1rem 1.25rem;
}

.todo__checkbox {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
}

.todo__checkbox--visible {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--clr-dt-grayish-blue-800);
  border-radius: 50%;
}

.todo__check-icon {
  display: none;
}

.todo__checkbox:checked
  + .todo__label
  > .todo__checkbox--visible
  > .todo__check-icon {
  display: block;
}

.todo__checkbox:checked + .todo__label > .todo__checkbox--visible {
  background-image: var(--clr-check-bg);
}

.todo__checkbox:checked ~ .todo__label {
  color: var(--clr-dt-grayish-blue-800);
  text-decoration: line-through;
}

.todo__label {
  display: flex;
  align-items: center;
  gap: 0.77rem;
  font-size: 0.725rem;
  cursor: pointer;
}

.todo__delete-btn {
  justify-self: flex-end;
  width: 0.75rem;
  height: 0.75rem;
  visibility: hidden;
}

.todo__item:hover > .todo__delete-btn {
  visibility: visible;
}

.theme--light .todo__item {
  border-color: var(--clr-lt-text-muted);
}

.theme--light .todo__checkbox--visible {
  border-color: var(--clr-lt-text-muted);
}

.theme--light .todo__checkbox:checked ~ .todo__label {
  color: var(--clr-lt-text-muted);
}

@media only screen and (min-width: 768px) {
  .todo__item {
    padding: clamp(1rem, 0.921rem + 0.38vw, 1.225rem)
      clamp(1.25rem, 1.173rem + 0.372vw, 1.47rem);
  }

  .todo__checkbox--visible {
    width: clamp(1.25rem, 1.162rem + 0.423vw, 1.5rem);
  }

  .todo__label {
    gap: clamp(0.77rem, 0.513rem + 1.234vw, 1.5rem);
    font-size: clamp(0.725rem, 0.593rem + 0.634vw, 1.1rem);
  }
}
